#flag {
    height: 200px;
    width: auto;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #ccc;
}

main {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: calc(100vw - 6em);
    margin: 1em;
    padding: 1em;
    box-shadow: 5px 5px 5px #ccc;
}

#countryFlag {
    padding: 0 1.25em;
}

#map {
    display: flex;
    flex-grow: 1;
    height: auto;
    width: 800px;
}